/*---------- Navigation ----------------------*/
.toggle-nav{
  justify-content: space-between;
}
.search{
  margin: 0 auto;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
    left: unset;
}
.navbar-main{
  height: 80px;
}
span.navbar-brand a {
  color: #fff;
  text-decoration: none;
}
/*-------------------------Homepage-----------------------------------*/
.homepage {
  display: flex;
}

/*----------------------filter-product-------------*/
.filter-products {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: darkgrey;
    padding-left: 15px;
    height: 86vh;
    margin: 10px;
}
.filter-products h3 {
  margin: 20px 0;
}
.filters > div {
  margin-bottom: 20px;
}
/*-------------Single Product--------------------*/

.product-listing {
  display: flex;
  margin: 10px;
  width: 78%;
  gap: 20px;
  flex-wrap: wrap;
}

button.clear-filter {
  background-color: #fff;
  color: #000;
  border-color: #000;
  width: 90%;
}
svg.fillStar {
  color: gold;
}

/*-------------header-cart----------------*/
.header-cart {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  align-items: baseline;
}
.header-cart:hover{
  background-color: darkgray;
}
span.header-cart-image img {
  width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

button.header-go-cart {
  margin: 10px;
  width: 95%;
}

/*----------CartPage--------------*/
.cartPage {
  display: flex;
}
.filter-products.cart-sidebar {
  width: 30%;
  background-color: #000;
  color: #fff;
}
.total-title {
  font-size: 21px;
  text-align: center;
  margin: 10px 0;
}
.cart-items-listitng {
  width: 100%;
}
img.cartpage-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
table.table.table-striped.table-bordered.table-hover {
  color: #fff;
  width: 94%;
}
.table>tbody>tr>td{
  color: #fff !important;
}